{% extends 'main/base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-4 text-center">
                    {{ title }}
                </h1>
            </div>

        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container-fluid bg-dark text-white">
    <div class="row no-gutters justify-content-center mt-5">
        <div class="col-12 col-lg-6 col-md-6">
            <h1 class="display-4 text-center">
                <p class="card-text">Техническая поддержка:</p>
                <p class="card-text">Email: admin@gmail.com</p>
                <p class="card-text">Телефон: +7 123 23 23</p>
            </h1>
        </div>

    </div>



{% endblock %}